
  <section class="ftco-section ftco-counter ftco-degree-bg" id="section-counter">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <h2>Our achievements</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 text-center">
            <div class="text">
              <strong class="number" data-number="1000">0</strong>
              <span>Customers are satisfied with our professional support</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 text-center">
            <div class="text">
              <strong class="number" data-number="250">0</strong>
              <span>A+ reviews from the clients we've worked with</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 text-center">
            <div class="text">
              <strong class="number" data-number="90"></strong><strong class="ml-2" style="color: white;">minutes</strong>
              <span>Average response time on live chat support channel</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
